USE [master]
GO
/****** Object:  Database [EduMetrics_Staging]    Script Date: 9/29/2026 10:47:54 PM ******/
CREATE DATABASE [EduMetrics_Staging]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduMetrics_Staging', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduMetrics_Staging.mdf' , SIZE = 794624KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduMetrics_Staging_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduMetrics_Staging_log.ldf' , SIZE = 663552KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduMetrics_Staging].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduMetrics_Staging]
GO
/****** Object:  Table [dbo].[Dim_Directorio_DUE]    Script Date: 9/29/2026 10:47:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Directorio_DUE](
	[cole_codigo_icfes] [bigint] NOT NULL,
	[cole_area_ubicacion_oficial] [nvarchar](50) NULL,
	[nombre_establecimiento] [nvarchar](255) NULL,
	[municipio] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[cole_codigo_icfes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saber11_Errores_Auditoria]    Script Date: 9/29/2026 10:47:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saber11_Errores_Auditoria](
	[estu_consecutivo] [varchar](50) NULL,
	[punt_global] [int] NULL,
	[estu_grado] [int] NULL,
	[desemp_ingles] [varchar](5) NULL,
	[Motivo_Error] [varchar](200) NULL,
	[Fecha_Carga] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saber11_Tratado]    Script Date: 9/29/2026 10:47:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saber11_Tratado](
	[estu_consecutivo] [varchar](50) NOT NULL,
	[punt_global] [int] NULL,
	[fami_tieneinternet] [varchar](20) NULL,
	[fami_tienecomputador] [varchar](20) NULL,
	[fami_educacionpadre] [varchar](100) NULL,
	[cole_area_ubicacion] [varchar](20) NULL,
	[estu_grado] [int] NULL,
	[desemp_ingles] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[estu_consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Saber11_Errores_Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha_Carga]
GO
USE [master]
GO
